GOOGLE_CLOUD_PROJECT=fleet-source-483015-a5
GOOGLE_API_KEY=AQ.Ab8RN6JOGLxxx
GOOGLE_CLOUD_LOCATION=us-central1
VITE_LOG_LEVEL=INFO 
VITE_OTEL_ENABLED=false
VITE_MANAGER_URL=localhost:3001
ADVERTISED_HOST=localhost